<!-- Skip To Content -->
<a class="skip-link screen-reader-text" href="#content"></a>

<!-- Document Header -->
<header id="masthead" class="site-header pt6 px6 pt4-m px4-m border-box w-100 cf fixed-m" role="banner" itemscope itemtype="http://schema.org/WPHeader">

	<!-- Site Branding -->
	<a routerLink="/" id="brand" class="logo--primary br-1 left fixed-m italic line-height-2 font-family-5 ts-10 p7 txt-dec-none" itemscope itemtype="http://schema.org/Brand" href="#" title="My Name's Not Mark" rel="nofollow">MN<br/>NM</a>

	<!-- Navigation -->
	<nav id="site-navigation" class="right ts-13 mt5 mr5-m regular line-height-2 font-family-2" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">

		<a routerLink="/" class="mr7">Home</a>
		<a routerLink="/work" [routerLinkActive]="'color-yellow'" class="mr7">Work</a>

		<a class="mr7 strike">Journal</a>
		<a  class="mr7 strike">Play</a>

	</nav><!-- #site-navigation -->

</header><!-- #masthead -->