<main id="main" class="site-main mt3 mt8-m border-box w-100 cf" role="main" itemprop="mainContentOfPage">

	<article class="single_work mt4-l">

		<header class="intro mx-auto f-max-width-5 mx1-f mb5 mb2-m relative">
			<picture>
				<img
				class="w-100 reveal-header-image display-b-m"
				sizes="(max-width: 1440px) 100vw, 1440px"
				srcset="
				/assets/images/case_study_images/inition/01_page_banner_tuwgxo_c_scale,w_320.jpg 320w,
				/assets/images/case_study_images/inition/01_page_banner_tuwgxo_c_scale,w_1092.jpg 1092w,
				/assets/images/case_study_images/inition/01_page_banner_tuwgxo_c_scale,w_1440.jpg 1440w"
				src="../../../assets/images/case_study_images/inition/01_page_banner_tuwgxo_c_scale,w_1440.jpg"
				alt="">
			</picture>
			<!-- <img class="w-100 reveal-header-image display-b-m" src="../../../assets/images/case_study_images/Inition/01_Page_Banner.jpg" alt=""> -->
			<div class="reveal-header-title absolute-m t-50">
				<h1 class="mv-u-50-m bold line-height-1 ts-1 ts-4-m ts-7-f font-family-5 absolute-m t-50 l-4 m0 p0">Inition</h1>
			</div>
			<h2 class="regular line-height-3 ts-10 ts-6-m ts-9-l font-family-1 absolute-m r-4 b-2 my7 m0-m p0 reveal-header-title">Website re-design &amp; build</h2>
		</header>

		<div class="body cf ">

			<!-- Summary -->
			<div class="summary cf mb3 mb1-l mx-auto max-width-5 max-width-1-m mt6">
				<p class="bold line-height-3 ts-5 ts-9-l font-family-5 w-100 w-60-l mb5 reveal-intro-copy">
					Website re-design for a pioneering interactive production company and emerging technology provider.
				</p>
				<p class="normal line-height-7 ts-5 ts-6-m ts-10-l font-family-4 w-100 w-60-l mb5 reveal-intro-copy">
					Inition commisioned Firedog to create an engaging and content-focused user experience, featuring impactful video content and imagery, as well as a simple and confident use of typography. Accessing and using the site on mobile devices was also a necessity. All pages were built for optimal results in any environment. On mobile devices, imagery and typography are optimised for comfortable viewing experiences.
				</p>
			</div>
			
			<!-- Monitor -->
			<figure class="m0 mb3 mb1-l w-100">
				<picture>
					<img
					class="w-100 reveal-fullscreen-monitor"
					sizes="(max-width: 1920px) 100vw, 1920px"
					srcset="
					/assets/images/case_study_images/inition/02_inition_monitor_c1aqkn_c_scale,w_320.png 320w,
					/assets/images/case_study_images/inition/02_inition_monitor_c1aqkn_c_scale,w_717.png 717w,
					/assets/images/case_study_images/inition/02_inition_monitor_c1aqkn_c_scale,w_1000.png 1000w,
					/assets/images/case_study_images/inition/02_inition_monitor_c1aqkn_c_scale,w_1211.png 1211w,
					/assets/images/case_study_images/inition/02_inition_monitor_c1aqkn_c_scale,w_1427.png 1427w,
					/assets/images/case_study_images/inition/02_inition_monitor_c1aqkn_c_scale,w_1607.png 1607w,
					/assets/images/case_study_images/inition/02_inition_monitor_c1aqkn_c_scale,w_1771.png 1771w,
					/assets/images/case_study_images/inition/02_inition_monitor_c1aqkn_c_scale,w_1920.png 1920w"
					src="../../../assets/images/case_study_images/inition/02_inition_monitor_c1aqkn_c_scale,w_1920.png"
					alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-monitor" src="../../../assets/images/case_study_images/inition/02_inition_monitor.png" alt=""> -->
			</figure>

			<!-- Full Width Image - Sitemap -->
			<figure class="w-100 m0 mb3 mb1-l">
				<picture>
					<img
					class="w-100 reveal-fullscreen-image"
					sizes="(max-width: 1800px) 100vw, 1800px"
					srcset="
					/assets/images/case_study_images/inition/11_Inition_iPad_Contact_pkmkjs_c_scale,w_320.jpg 320w,
					/assets/images/case_study_images/inition/11_Inition_iPad_Contact_pkmkjs_c_scale,w_914.jpg 914w,
					/assets/images/case_study_images/inition/11_Inition_iPad_Contact_pkmkjs_c_scale,w_1320.jpg 1320w,
					/assets/images/case_study_images/inition/11_Inition_iPad_Contact_pkmkjs_c_scale,w_1662.jpg 1662w,
					/assets/images/case_study_images/inition/11_Inition_iPad_Contact_pkmkjs_c_scale,w_1800.jpg 1800w"
					src="../../../assets/images/case_study_images/inition/11_Inition_iPad_Contact_pkmkjs_c_scale,w_1800.jpg"
					alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-image" src="../../../assets/images/case_study_images/inition/11_Inition_iPad[Contact].jpg" alt=""> -->
			</figure>

			<!-- Mobile GIF - Navigation -->
			<div class="cf relative w-100 mb3 mb1-l">
				<div class="w-50 left pr5 pr2-m border-box display-b-m">
					<div class="marvel-device iphone6 black fit right reveal-from-left">
					    <div class="top-bar"></div>
					    <div class="sleep"></div>
					    <div class="volume"></div>
					    <div class="camera"></div>
					    <div class="sensor"></div>
					    <div class="speaker"></div>
					    <div class="screen">
					        <img class="w-100" src="../../../assets/images/case_study_images/inition/navigation-optim.gif" alt="">
					    </div>
					    <div class="home"></div>
					    <div class="bottom-bar"></div>
					</div>
				</div>
				<div class="w-100 w-50-m my6 cb absolute-m t-0 b-0 r-0 reveal-from-right">
					<p class="mx-auto bold line-height-3 ts-4 ts-5-m ts-8-l font-family-5 absolute-m t-50 l-50 mv-ul-7050-m" style="width: 70%;">
						The site is easy to use on mobile - button spacing and search features allow for easy navigation.
					</p>
				</div>
			</div>

			<!-- Full Width Image - iPad -->
			<figure class="w-100 m0 mb3 mb1-l">
				<picture>
					<img
					class="w-100 reveal-fullscreen-image"
					sizes="(max-width: 1800px) 100vw, 1800px"
					srcset="
					/assets/images/case_study_images/inition/12_Inition_iPhone_About_iwdbig_c_scale,w_320.jpg 320w,
					/assets/images/case_study_images/inition/12_Inition_iPhone_About_iwdbig_c_scale,w_1062.jpg 1062w,
					/assets/images/case_study_images/inition/12_Inition_iPhone_About_iwdbig_c_scale,w_1800.jpg 1800w"
					src="../../../assets/images/case_study_images/inition/12_Inition_iPhone_About_iwdbig_c_scale,w_1800.jpg"
					alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-image" src="../../../assets/images/case_study_images/inition/12_Inition_iPhone[About].jpg" alt=""> -->
			</figure>

		</div>

		<footer class="cf mb3 mb1-l mx-auto max-width-5 max-width-1-f reveal">
			<h2 class="bold center line-height-3 ts-4 ts-5-m ts-8-l font-family-1 m0">Credits:</h2>
			<dl class="credits left bold ts-5 ts-9-m font-family-4 mt6">
				<dt class="w-40 left right-align m0 border-box py7 pr5">Client:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Inition</dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Scope:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Lead Developer</dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Credits:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7"><a href="http://www.firedog.co.uk/" target="_blank">Firedog Design</a>, <a href="https://twitter.com/samuelcane" target="_blank">Sam Cane</a></dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Date:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Summer 2014</dd>
			</dl>
		</footer>

	</article>

</main>