<main id="main" class="site-main mt3 mt8-m border-box w-100 cf" role="main" itemprop="mainContentOfPage">
	
	<article class="single_work mt4-l">

		<header class="intro mx-auto f-max-width-5 mx1-f mb5 mb2-m relative color-imperial-lightblue">
			<picture>
			<img
				class="w-100 reveal-header-image display-b-m"
				sizes="(max-width: 1440px) 100vw, 1440px"
				srcset="
				/assets/images/case_study_images/imperial/01_Page_Banner_jwss0f_c_scale,w_320.jpg 320w,
				/assets/images/case_study_images/imperial/01_Page_Banner_jwss0f_c_scale,w_882.jpg 882w,
				/assets/images/case_study_images/imperial/01_Page_Banner_jwss0f_c_scale,w_1274.jpg 1274w,
				/assets/images/case_study_images/imperial/01_Page_Banner_jwss0f_c_scale,w_1440.jpg 1440w"
				src="../../../assets/images/case_study_images/imperial/01_Page_Banner_jwss0f_c_scale,w_1440.jpg"
				alt="">
			</picture>
			<!-- <img class="w-100 reveal-header-image display-b-m" src="../../../assets/images/case_study_images/imperial/01_Page_Banner.jpg" alt=""> -->
			<div class="reveal-header-title absolute-m t-50">
				<h1 class="mv-u-50-m bold line-height-1 ts-1 ts-4-m ts-7-f font-family-5 absolute-m t-50 l-4 m0 p0">Imperial College <br/>Business School</h1>
			</div>
			<h2 class="regular line-height-3 ts-10 ts-6-m ts-9-l font-family-1 absolute-m r-4 b-2 my7 m0-m p0 reveal-header-title">Website design &amp; build</h2>
		</header>

		<div class="body cf ">

			<!-- Summary -->
			<div class="summary cf mb3 mb1-l mx-auto max-width-5 max-width-1-m mt6">
				<p class="bold line-height-3 ts-5 ts-9-l font-family-5 w-100 w-60-l mb5 reveal-intro-copy">
					A website design and build for one of the world’s leading universities.
				</p>
				<p class="normal line-height-7 ts-5 ts-6-m ts-10-l font-family-4 w-100 w-60-l mb5 reveal-intro-copy">
					Imperial College Business School had over a thousand pages: a complete overhaul of the site structure was essential. The site is confident, content is easy to read, navigate and share in all enviromnents; embracing the school's position as one of the leading Business Schools in the world. The site redesign is entirely responsive and built with WordPress. A strict grid is used to maintain a modular layout.
				</p>
			</div>

			<!-- Full Width Image - Sitemap -->
			<figure class="w-100 m0 mb3 mb1-l">
				<picture>
					<img
					class="w-100 reveal-fullscreen-image"
					sizes="(max-width: 1800px) 100vw, 1800px"
					srcset="
					/assets/images/case_study_images/imperial/06_Imperial_Sitemap_plgaaq_c_scale,w_320.jpg 320w,
					/assets/images/case_study_images/imperial/06_Imperial_Sitemap_plgaaq_c_scale,w_1025.jpg 1025w,
					/assets/images/case_study_images/imperial/06_Imperial_Sitemap_plgaaq_c_scale,w_1800.jpg 1800w"
					src="../../../assets/images/case_study_images/imperial/06_Imperial_Sitemap_plgaaq_c_scale,w_1800.jpg"
					alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-image" src="../../../assets/images/case_study_images/imperial/06_imperial_Sitemap.jpg" alt=""> -->
			</figure>

			<!-- Full Width Image - iPad -->
			<figure class="w-100 m0 mb3 mb1-l">
				<picture>
					<img
					class="w-100 reveal-fullscreen-image"
					sizes="(max-width: 1800px) 100vw, 1800px"
					srcset="
					/assets/images/case_study_images/imperial/10_Imperial_Ipad_pn6w02_c_scale,w_320.jpg 320w,
					/assets/images/case_study_images/imperial/10_Imperial_Ipad_pn6w02_c_scale,w_930.jpg 930w,
					/assets/images/case_study_images/imperial/10_Imperial_Ipad_pn6w02_c_scale,w_1359.jpg 1359w,
					/assets/images/case_study_images/imperial/10_Imperial_Ipad_pn6w02_c_scale,w_1800.jpg 1800w"
					src="../../../assets/images/case_study_images/imperial/10_Imperial_Ipad_pn6w02_c_scale,w_1800.jpg"
					alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-image" src="../../../assets/images/case_study_images/imperial/10_imperial_Ipad.jpg" alt=""> -->
			</figure>

			<!-- Full Width Image - iPhone -->
			<figure class="w-100 m0 mb3 mb1-l">
				<picture>
					<img
					class="w-100 reveal-fullscreen-image"
					sizes="(max-width: 1800px) 100vw, 1800px"
					srcset="
					/assets/images/case_study_images/imperial/11_Imperial_Iphone_yntlii_c_scale,w_320.jpg 320w,
					/assets/images/case_study_images/imperial/11_Imperial_Iphone_yntlii_c_scale,w_1001.jpg 1001w,
					/assets/images/case_study_images/imperial/11_Imperial_Iphone_yntlii_c_scale,w_1572.jpg 1572w,
					/assets/images/case_study_images/imperial/11_Imperial_Iphone_yntlii_c_scale,w_1800.jpg 1800w"
					src="../../../assets/images/case_study_images/imperial/11_Imperial_Iphone_yntlii_c_scale,w_1800.jpg"
					alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-image" src="../../../assets/images/case_study_images/imperial/11_imperial_Iphone.jpg" aIpad=""> -->
			</figure>

		</div>

		<footer class="cf mb3 mb1-l mx-auto max-width-5 max-width-1-l reveal">
			<h2 class="bold center line-height-3 ts-4 ts-5-m ts-8-l font-family-1 m0">Credits:</h2>
			<dl class="credits left bold ts-5 ts-9-m font-family-4 mt6">
				<dt class="w-40 left right-align m0 border-box py7 pr5">Client:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Imperial College London</dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Scope:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Lead Developer</dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Credits:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7"><a href="http://www.firedog.co.uk/" target="_blank">Firedog Design</a>, <a href="https://twitter.com/samuelcane" target="_blank">Sam Cane</a>, <a href="http://bryntaylor.co.uk/" target="_blank">Bryn Taylor</a></dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Date:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Winter 2013</dd>
			</dl>
		</footer>

	</article>

</main>