<main id="main" class="site-main mt3 mt8-m border-box w-100 cf" role="main" itemprop="mainContentOfPage">

	<article class="single_work mt4-l">
	
		<header class="intro mx-auto f-max-width-5 mx1-f mb5 mb2-m relative color-bha-red">
			<picture>
				<img
				class="w-100 reveal-header-image display-b-m"
				sizes="(max-width: 1440px) 100vw, 1440px"
				srcset="
				/assets/images/case_study_images/bha/00_bha_page_banner_kkvutf_c_scale,w_320.jpg 320w, 
				/assets/images/case_study_images/bha/00_bha_page_banner_kkvutf_c_scale,w_1031.jpg 1031w, 
				/assets/images/case_study_images/bha/00_bha_page_banner_kkvutf_c_scale,w_1440.jpg 1440w"
				src="../../../assets/images/case_study_images/bha/00_bha_page_banner_kkvutf_c_scale,w_1440.jpg"
				alt="">
			</picture>
			<!-- <img class="w-100 reveal-header-image display-b-m" src="../../../assets/images/case_study_images/bha/00_BHA_Page-Banner.jpg" alt=""> -->
			<div class="reveal-header-title absolute-m t-50">
				<h1 class="mv-u-50-m bold line-height-1 ts-1 ts-4-m ts-7-f font-family-5 absolute-m t-50 l-4 m0 p0">British <br/>Horseracing <br/>Authority</h1>
			</div>
			<h2 class="regular line-height-3 ts-10 ts-6-m ts-9-l font-family-1 absolute-m r-4 b-2 my7 m0-m p0 reveal-header-title">Website re-design &amp; build</h2>
		</header>

		<div class="body cf ">

			<!-- Summary -->
			<div class="summary cf mb3 mb1-l mx-auto max-width-5 max-width-1-m mt6">
				<p class="bold line-height-3 ts-5 ts-9-l font-family-5 w-100 w-60-l mb5 reveal-intro-copy">
					A major re-design and build project for the official governing body of horse racing in the UK.
				</p>
				<p class="normal line-height-7 ts-5 ts-6-m ts-10-l font-family-4 w-100 w-60-l mb5 reveal-intro-copy">
					The BHA website is extensive; it contains information for industry insiders, punters and first time race-goers alike. The site is authoritive, progressive and simple to use, reflecting the aims of the regulatory authority. As a portal for information ranging from disqualified jockeys to racecourse locations, the site needed to be easy to use in all situations.
				</p>
			</div>

			<!-- Monitor -->
			<figure class="m0 mb3 mb1-l w-100 reveal-fullscreen-monitor">
				<picture>
				<img
				class="w-100"
				sizes="(max-width: 1920px) 100vw, 1920px"
				srcset="
				/assets/images/case_study_images/bha/01_BHA_homepage_monitor_rr7zvk_c_scale,w_320.png 320w,
				/assets/images/case_study_images/bha/01_BHA_homepage_monitor_rr7zvk_c_scale,w_655.png 655w,
				/assets/images/case_study_images/bha/01_BHA_homepage_monitor_rr7zvk_c_scale,w_898.png 898w,
				/assets/images/case_study_images/bha/01_BHA_homepage_monitor_rr7zvk_c_scale,w_1093.png 1093w,
				/assets/images/case_study_images/bha/01_BHA_homepage_monitor_rr7zvk_c_scale,w_1264.png 1264w,
				/assets/images/case_study_images/bha/01_BHA_homepage_monitor_rr7zvk_c_scale,w_1423.png 1423w,
				/assets/images/case_study_images/bha/01_BHA_homepage_monitor_rr7zvk_c_scale,w_1570.png 1570w,
				/assets/images/case_study_images/bha/01_BHA_homepage_monitor_rr7zvk_c_scale,w_1698.png 1698w,
				/assets/images/case_study_images/bha/01_BHA_homepage_monitor_rr7zvk_c_scale,w_1835.png 1835w,
				/assets/images/case_study_images/bha/01_BHA_homepage_monitor_rr7zvk_c_scale,w_1920.png 1920w"
				src="../../../assets/images/case_study_images/bha/01_BHA_homepage_monitor_rr7zvk_c_scale,w_1920.png"
				alt="">
				</picture>
				<!-- <img class="w-100" src="../../../assets/images/case_study_images/bha/01_BHA_homepage_monitor.png" alt=""> -->
			</figure>

			<!-- Mobile Navigation -->
			<figure class="w-100 m0 mb3 mb1-l relative">
				<!-- Left Phone -->
				<picture>
				<img
				class="w-100 t-0 reveal-stacked-phones"
				sizes="(max-width: 1920px) 100vw, 1920px"
				srcset="
				/assets/images/case_study_images/bha/02_Mobile_Navigation_left_o6ytg8_c_scale,w_320.png 320w,
				/assets/images/case_study_images/bha/02_Mobile_Navigation_left_o6ytg8_c_scale,w_1920.png 1920w"
				src="../../../assets/images/case_study_images/bha/02_Mobile_Navigation_left_o6ytg8_c_scale,w_1920.png"
				alt="">
				</picture>
				<!-- <img class="w-100 t-0 reveal-stacked-phones" src="../../../assets/images/case_study_images/bha/02_Mobile_Navigation_left.png" alt=""> -->
				
				<!-- Middle Phone -->
				<picture>
				<img
				class="w-100 absolute t-0 reveal-stacked-phones"
				sizes="(max-width: 1920px) 100vw, 1920px"
				srcset="
				/assets/images/case_study_images/bha/02_Mobile_Navigation_middle_lrziuh_c_scale,w_320.png 320w,
				/assets/images/case_study_images/bha/02_Mobile_Navigation_middle_lrziuh_c_scale,w_1920.png 1920w"
				src="../../../assets/images/case_study_images/bha/02_Mobile_Navigation_middle_lrziuh_c_scale,w_1920.png"
				alt="">
				</picture>
				<!-- <img class="w-100 absolute t-0 reveal-stacked-phones" src="../../../assets/images/case_study_images/bha/02_Mobile_Navigation_middle.png" alt=""> -->
				
				<!-- Right Phone -->
				<picture>
				<img
				class="w-100 absolute t-0 reveal-stacked-phones"
				sizes="(max-width: 1920px) 100vw, 1920px"
				srcset="
				/assets/images/case_study_images/bha/02_Mobile_Navigation_right_n5nm9s_c_scale,w_320.png 320w,
				/assets/images/case_study_images/bha/02_Mobile_Navigation_right_n5nm9s_c_scale,w_1920.png 1920w"
				src="../../../assets/images/case_study_images/bha/02_Mobile_Navigation_right_n5nm9s_c_scale,w_1920.png"
				alt="">
				</picture>
				<!-- <img class="w-100 absolute t-0 reveal-stacked-phones" src="../../../assets/images/case_study_images/bha/02_Mobile_Navigation_right.png" alt=""> -->
			</figure>
			
			<!-- Half Laptop -->
			<figure class="w-100 m0 mb3 mb1-l cf relative">
				<figcaption class="w-100 w-50-m absolute-m t-0 b-0 l-0 reveal-from-left caption-left">
					<p class="bold line-height-3 ts-4 ts-5-m ts-8-l mx-auto font-family-5 absolute-m t-50 l-50 mv-ul-50-m" style="width: 60%;">A simplified gateway for all rule and regulatory document needs.</p>
				</figcaption>

				<picture>
				<img
				class="w-50 right reveal-from-right display-b-m"
				sizes="(max-width: 1000px) 100vw, 1000px"
				srcset="
				/assets/images/case_study_images/bha/03_Rules_Regs_apddcu_c_scale,w_200.png 200w,
				/assets/images/case_study_images/bha/03_Rules_Regs_apddcu_c_scale,w_505.png 505w,
				/assets/images/case_study_images/bha/03_Rules_Regs_apddcu_c_scale,w_738.png 738w,
				/assets/images/case_study_images/bha/03_Rules_Regs_apddcu_c_scale,w_890.png 890w,
				/assets/images/case_study_images/bha/03_Rules_Regs_apddcu_c_scale,w_1000.png 1000w"
				src="../../../assets/images/case_study_images/bha/03_Rules_Regs_apddcu_c_scale,w_1000.png"
				alt="">
				</picture>
				<!-- <img class="w-50 right reveal-from-right display-b-m" src="../../../assets/images/case_study_images/bha/03_Rules_Regs.png" alt=""> -->
			</figure>

			<!-- Full Width Image - Racecourses -->
			<figure class="w-100 m0 mb3 mb1-l">
				<picture>
				<img
				class="w-100 reveal-fullscreen-image"
				sizes="(max-width: 1800px) 100vw, 1800px"
				srcset="
				/assets/images/case_study_images/bha/04_BHA_Racecourse_fsarhh_c_scale,w_320.jpg 320w,
				/assets/images/case_study_images/bha/04_BHA_Racecourse_fsarhh_c_scale,w_600.jpg 600w,
				/assets/images/case_study_images/bha/04_BHA_Racecourse_fsarhh_c_scale,w_804.jpg 804w,
				/assets/images/case_study_images/bha/04_BHA_Racecourse_fsarhh_c_scale,w_1015.jpg 1015w,
				/assets/images/case_study_images/bha/04_BHA_Racecourse_fsarhh_c_scale,w_1189.jpg 1189w,
				/assets/images/case_study_images/bha/04_BHA_Racecourse_fsarhh_c_scale,w_1363.jpg 1363w,
				/assets/images/case_study_images/bha/04_BHA_Racecourse_fsarhh_c_scale,w_1534.jpg 1534w,
				/assets/images/case_study_images/bha/04_BHA_Racecourse_fsarhh_c_scale,w_1800.jpg 1800w"
				src="../../../assets/images/case_study_images/bha/04_BHA_Racecourse_fsarhh_c_scale,w_1800.jpg"
				alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-image" src="../../../assets/images/case_study_images/bha/04_BHA_Racecourse.jpg" alt=""> -->
			</figure>

			<!-- Mobile GIF - Navigation -->
			<div class="cf relative w-100">
				<div class="w-50 left pr5 pr2-m border-box display-b-m">
					<div class="marvel-device iphone6 black fit right reveal-from-left">
					    <div class="top-bar"></div>
					    <div class="sleep"></div>
					    <div class="volume"></div>
					    <div class="camera"></div>
					    <div class="sensor"></div>
					    <div class="speaker"></div>
					    <div class="screen">
					        <img class="w-100" src="../../../assets/images/case_study_images/bha/05_Mobile_Nav-optim.gif" alt="">
					    </div>
					    <div class="home"></div>
					    <div class="bottom-bar"></div>
					</div>
				</div>
				<div class="w-100 w-50-m my6 cb absolute-m t-0 b-0 r-0 reveal-from-right">
					<p class="mx-auto bold line-height-3 ts-4 ts-5-m ts-8-l font-family-5 absolute-m t-50 l-50 mv-ul-7050-m" style="width: 70%;">
						Simple and super effective navigation making a vast collection of information easily accessible.
					</p>
				</div>
			</div>

			<!-- Mobile GIF - Search -->
			<div class="cf mb3 mb1-l relative w-100">
				<div class="w-100 w-50-m cb absolute-m t-0 b-0 l-0 reveal-from-left">
					<p class="mx-auto bold line-height-3 ts-4 ts-5-m ts-8-l font-family-5 absolute-m t-50 l-50 mv-ul-3050-m" style="width: 70%;">
						No. 1 source of information ranging from disqualified jockeys to racecourse locations, all at a punters finger tips.
					</p>
				</div>
				<div class="w-50 right t-0 b-0 r-0 pl5 pl2-m border-box display-b-m">
					<div class="marvel-device iphone6 gold fit left reveal-from-right">
					    <div class="top-bar"></div>
					    <div class="sleep"></div>
					    <div class="volume"></div>
					    <div class="camera"></div>
					    <div class="sensor"></div>
					    <div class="speaker"></div>
					    <div class="screen">
					        <!-- Content goes here -->
					        <img class="w-100" src="../../../assets/images/case_study_images/bha/06_Search-optim.gif" alt="">
					    </div>
					    <div class="home"></div>
					    <div class="bottom-bar"></div>
					</div>
				</div>
			</div>

			<!-- Full Width Image - Docs -->
			<figure class="w-100 m0 mb3 mb1-l">
			<picture>
				<img
				class="w-100 reveal-fullscreen-image"
				sizes="(max-width: 1800px) 100vw, 1800px"
				srcset="
				/assets/images/case_study_images/bha/07_BHA_Resources_ky5yqy_c_scale,w_320.jpg 320w,
				/assets/images/case_study_images/bha/07_BHA_Resources_ky5yqy_c_scale,w_722.jpg 722w,
				/assets/images/case_study_images/bha/07_BHA_Resources_ky5yqy_c_scale,w_1017.jpg 1017w,
				/assets/images/case_study_images/bha/07_BHA_Resources_ky5yqy_c_scale,w_1271.jpg 1271w,
				/assets/images/case_study_images/bha/07_BHA_Resources_ky5yqy_c_scale,w_1479.jpg 1479w,
				/assets/images/case_study_images/bha/07_BHA_Resources_ky5yqy_c_scale,w_1800.jpg 1800w"
				src="../../../assets/images/case_study_images/bha/07_BHA_Resources_ky5yqy_c_scale,w_1800.jpg"
				alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-image" src="../../../assets/images/case_study_images/bha/07_BHA_Resources.jpg" alt=""> -->
			</figure>

			<!-- iPad GIF - Racecourses -->
			<div class="cf mb3 mb1-l relative w-100">
				<div class="w-50 left pr2 pr2-m border-box reveal-from-left display-b-m">
					<div class="marvel-device ipad silver fit right">
					    <div class="camera"></div>
					    <div class="screen">
					        <!-- Content goes here -->
					        <img class="w-100" src="../../../assets/images/case_study_images/bha/08_Racecourse-optim.gif" alt="">
					    </div>
					    <div class="home"></div>
					</div>
				</div>
				<div class="w-100 w-50-m cb absolute-m t-0 b-0 r-0 reveal-from-right">
					<p class="mx-auto bold line-height-3 ts-4 ts-5-m ts-8-l font-family-5 absolute-m t-50 l-50 mv-ul-7050-m" style="width: 70%;">
						Leveraging techology to encourge more people to engage with the sport of horseracing.
					</p>
				</div>
			</div>
			
			<!-- Full Width Image - Racecard -->
			<figure class="w-100 m0 mb5 mb2-m reveal-fullscreen-image">
			<picture>
				<img
				class="w-100"
				sizes="(max-width: 1800px) 100vw, 1800px"
				srcset="
				/assets/images/case_study_images/bha/09_BHA_Racecards_ldrchm_c_scale,w_320.jpg 320w,
				/assets/images/case_study_images/bha/09_BHA_Racecards_ldrchm_c_scale,w_659.jpg 659w,
				/assets/images/case_study_images/bha/09_BHA_Racecards_ldrchm_c_scale,w_915.jpg 915w,
				/assets/images/case_study_images/bha/09_BHA_Racecards_ldrchm_c_scale,w_1129.jpg 1129w,
				/assets/images/case_study_images/bha/09_BHA_Racecards_ldrchm_c_scale,w_1326.jpg 1326w,
				/assets/images/case_study_images/bha/09_BHA_Racecards_ldrchm_c_scale,w_1517.jpg 1517w,
				/assets/images/case_study_images/bha/09_BHA_Racecards_ldrchm_c_scale,w_1800.jpg 1800w"
				src="../../../assets/images/case_study_images/bha/09_BHA_Racecards_ldrchm_c_scale,w_1800.jpg"
				alt="">
				</picture>
				<!-- <img class="w-100" src="../../../assets/images/case_study_images/bha/09_BHA_Racecards.jpg" alt=""> -->
			</figure>

			<!-- 3 Iso iPhone -->
			<figure class="w-100 m0 mb5 mb2-m relative">
				<picture>
				<img
				class="w-100 t-0 reveal-isometric"
				sizes="(max-width: 1800px) 100vw, 1800px"
				srcset="
				/assets/images/case_study_images/bha/10_isometric_iphone_bottom_qob9xj_c_scale,w_320.png 320w,
				/assets/images/case_study_images/bha/10_isometric_iphone_bottom_qob9xj_c_scale,w_1006.png 1006w,
				/assets/images/case_study_images/bha/10_isometric_iphone_bottom_qob9xj_c_scale,w_1462.png 1462w,
				/assets/images/case_study_images/bha/10_isometric_iphone_bottom_qob9xj_c_scale,w_1800.png 1800w"
				src="../../../assets/images/case_study_images/bha/10_isometric_iphone_bottom_qob9xj_c_scale,w_1800.png"
				alt="">
				</picture>
				<!-- <img class="w-100 t-0 reveal-isometric" src="../../../assets/images/case_study_images/bha/10_isometric_iphone_top.png" alt=""> -->
				<picture>
				<img
				class="w-100 absolute t-0 reveal-isometric"
				sizes="(max-width: 1800px) 100vw, 1800px"
				srcset="
				/assets/images/case_study_images/bha/10_isometric_iphone_middle_sgi3ip_c_scale,w_320.png 320w,
				/assets/images/case_study_images/bha/10_isometric_iphone_middle_sgi3ip_c_scale,w_889.png 889w,
				/assets/images/case_study_images/bha/10_isometric_iphone_middle_sgi3ip_c_scale,w_1603.png 1603w,
				/assets/images/case_study_images/bha/10_isometric_iphone_middle_sgi3ip_c_scale,w_1800.png 1800w"
				src="../../../assets/images/case_study_images/bha/10_isometric_iphone_middle_sgi3ip_c_scale,w_1800.png"
				alt="">
				</picture>
				<!-- <img class="w-100 absolute t-0 reveal-isometric" src="../../../assets/images/case_study_images/bha/10_isometric_iphone_middle.png" alt=""> -->
				<picture>
				<img
				class="w-100 absolute t-0 reveal-isometric"
				sizes="(max-width: 1800px) 100vw, 1800px"
				srcset="
				/assets/images/case_study_images/bha/10_isometric_iphone_top_subbe0_c_scale,w_320.png 320w,
				/assets/images/case_study_images/bha/10_isometric_iphone_top_subbe0_c_scale,w_1030.png 1030w,
				/assets/images/case_study_images/bha/10_isometric_iphone_top_subbe0_c_scale,w_1503.png 1503w,
				/assets/images/case_study_images/bha/10_isometric_iphone_top_subbe0_c_scale,w_1800.png 1800w"
				src="../../../assets/images/case_study_images/bha/10_isometric_iphone_top_subbe0_c_scale,w_1800.png"
				alt="">
				</picture>
				<!-- <img class="w-100 absolute t-0 reveal-isometric" src="../../../assets/images/case_study_images/bha/10_isometric_iphone_bottom.png" alt=""> -->
			</figure>
		</div>

		<footer class="cf mb3 mb1-l mx-auto max-width-5 max-width-1-l reveal">
			<h2 class="bold center line-height-3 ts-4 ts-5-m ts-8-l font-family-1 m0">Credits:</h2>
			<dl class="credits left bold ts-5 ts-9-m font-family-4 mt6">
				<dt class="w-40 left right-align m0 border-box py7 pr5">Client:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">British Horseracing Authority</dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Scope:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Lead Developer, Design Consultation</dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">URL:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7"><a href="http://www.britishhorseracing.com/" target="_blank">britishhorseracing.com</a></dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Credits:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7"><a href="http://www.firedog.co.uk/" target="_blank">Firedog Design</a>, <a href="https://twitter.com/samuelcane" target="_blank">Sam Cane</a>, <a href="http://bryntaylor.co.uk/" target="_blank">Bryn Taylor</a>, <a href="http://mattmuirhead.co.uk/" target="_blank">Matt Muirhead</a></dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Date:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Winter 2014</dd>
			</dl>
		</footer>

	</article>

</main>