<main id="main" class="site-main mt3 mt8-m border-box w-100 cf" role="main" itemprop="mainContentOfPage">

	<article class="single_work mt4-l">

		<header class="intro mx-auto f-max-width-5 mx1-f mb5 mb2-m relative color-dong-red">
			<picture>
				<img
				clas="w-100 reveal-header-image display-b-m"
				sizes="(max-width: 1440px) 100vw, 1440px"
				srcset="
				/assets/images/case_study_images/dong_wind/01_page_banner_rixl8k_c_scale,w_320.jpg 320w,
				/assets/images/case_study_images/dong_wind/01_page_banner_rixl8k_c_scale,w_895.jpg 895w,
				/assets/images/case_study_images/dong_wind/01_page_banner_rixl8k_c_scale,w_1307.jpg 1307w,
				/assets/images/case_study_images/dong_wind/01_page_banner_rixl8k_c_scale,w_1440.jpg 1440w"
				src="../../../assets/images/case_study_images/dong_wind/01_page_banner_rixl8k_c_scale,w_1440.jpg"
				alt="">
			</picture>
			<!-- <img clas="w-100 reveal-header-image display-b-m" src="../../../assets/images/case_study_images/dong_wind/01_Page_Banner.jpg" alt=""> -->
			<div class="reveal-header-title absolute-m t-50">
				<h1 class="mv-u-50-m bold line-height-1 ts-1 ts-4-m ts-7-f font-family-5 absolute-m t-50 l-4 m0 p0">Offshore <br/>Wind <br/>Works</h1>
			</div>
			<h2 class="regular line-height-3 ts-10 ts-6-m ts-9-l font-family-1 absolute-m r-4 b-2 my7 m0-m p0 reveal-header-title">Website design &amp; build</h2>
		</header>

		<div class="body cf ">

			<!-- Summary -->
			<div class="summary cf mb3 mb1-l mx-auto max-width-5 max-width-1-m mt6">
				<p class="bold line-height-3 ts-5 ts-9-l font-family-5 w-100 w-60-l mb5 reveal-intro-copy">
					A nationwide offshore wind campaign and online resource created for Dong Energy UK.
				</p>
				<p class="normal line-height-7 ts-5 ts-6-m ts-10-l font-family-4 w-100 w-60-l mb5 reveal-intro-copy">
					Over the last ten years, offshore wind in the UK has soared. Dong Energy UK comissioned Firedog to build a print and digital campaign to help the UK's general public find out about the continuing development of this renewable energy. Designed to educated people on how it’s managed to cut costs and boost efficiency, growing into an important part of Britain’s energy mix.
				</p>
			</div>

			<!-- Full Width Image - Train -->
			<figure class="w-100 m0 mb3 mb1-l">
				
				<picture>
					<img
					class="w-100 reveal-fullscreen-image"
					sizes="(max-width: 1440px) 100vw, 1440px"
					srcset="
					/assets/images/case_study_images/dong_wind/02_windworks_jubilee_portrait_bhshpf_c_scale,w_320.jpg 320w,
					/assets/images/case_study_images/dong_wind/02_windworks_jubilee_portrait_bhshpf_c_scale,w_667.jpg 667w,
					/assets/images/case_study_images/dong_wind/02_windworks_jubilee_portrait_bhshpf_c_scale,w_926.jpg 926w,
					/assets/images/case_study_images/dong_wind/02_windworks_jubilee_portrait_bhshpf_c_scale,w_1122.jpg 1122w,
					/assets/images/case_study_images/dong_wind/02_windworks_jubilee_portrait_bhshpf_c_scale,w_1318.jpg 1318w,
					/assets/images/case_study_images/dong_wind/02_windworks_jubilee_portrait_bhshpf_c_scale,w_1440.jpg 1440w"
					src="../../../assets/images/case_study_images/dong_wind/02_windworks_jubilee_portrait_bhshpf_c_scale,w_1440.jpg"
					alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-image" src="../../../assets/images/case_study_images/dong_wind/IMG_7678_Windworks_Jubilee_Portrait.jpg" alt=""> -->
			</figure>

			<!-- Monitor -->
			<figure class="m0 mb3 mb1-l w-100">
				<picture>
					<img
					lass="w-100 reveal-fullscreen-monitor"
					sizes="(max-width: 1920px) 100vw, 1920px"
					srcset="
					/assets/images/case_study_images/dong_wind/03_history_kn1lm7_c_scale,w_320.png 320w,
					/assets/images/case_study_images/dong_wind/03_history_kn1lm7_c_scale,w_762.png 762w,
					/assets/images/case_study_images/dong_wind/03_history_kn1lm7_c_scale,w_1040.png 1040w,
					/assets/images/case_study_images/dong_wind/03_history_kn1lm7_c_scale,w_1282.png 1282w,
					/assets/images/case_study_images/dong_wind/03_history_kn1lm7_c_scale,w_1466.png 1466w,
					/assets/images/case_study_images/dong_wind/03_history_kn1lm7_c_scale,w_1629.png 1629w,
					/assets/images/case_study_images/dong_wind/03_history_kn1lm7_c_scale,w_1806.png 1806w,
					/assets/images/case_study_images/dong_wind/03_history_kn1lm7_c_scale,w_1920.png 1920w"
					src="../../../assets/images/case_study_images/dong_wind/03_history_kn1lm7_c_scale,w_1920.png"
					alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-monitor" src="../../../assets/images/case_study_images/dong_wind/history.png" alt=""> -->
			</figure>

			<!-- Mobile GIF - Navigation -->
			<div class="cf relative w-100 mb3 mb1-l">
				<div class="w-50 left pr5 pr2-m border-box display-b-m">
					<div class="marvel-device iphone6 black fit right reveal-from-left">
					    <div class="top-bar"></div>
					    <div class="sleep"></div>
					    <div class="volume"></div>
					    <div class="camera"></div>
					    <div class="sensor"></div>
					    <div class="speaker"></div>
					    <div class="screen">
					    	<img class="w-100" src="../../../assets/images/case_study_images/dong_wind/04_mobile-optim.gif" alt="">
					    </div>
					    <div class="home"></div>
					    <div class="bottom-bar"></div>
					</div>
				</div>
				<div class="w-100 w-50-m my6 cb absolute-m t-0 b-0 r-0 reveal">
					<p class="mx-auto bold line-height-3 ts-4 ts-5-m ts-8-l font-family-5 absolute-m t-50 l-50 mv-ul-7050-m" style="width: 70%;">
						Focused and well segmented content via clean and easy to navigate UI.
					</p>
				</div>
			</div>

			<!-- Full Width Image - Article iPad -->
			<figure class="w-100 m0 mb3 mb1-l">
				<picture>
					<img
					class="w-100 reveal-fullscreen-image"
					sizes="(max-width: 1920px) 100vw, 1920px"
					srcset="
					/assets/images/case_study_images/dong_wind/05_ipad_article_jpc2fk_c_scale,w_320.jpg 320w,
					/assets/images/case_study_images/dong_wind/05_ipad_article_jpc2fk_c_scale,w_931.jpg 931w,
					/assets/images/case_study_images/dong_wind/05_ipad_article_jpc2fk_c_scale,w_1353.jpg 1353w,
					/assets/images/case_study_images/dong_wind/05_ipad_article_jpc2fk_c_scale,w_1709.jpg 1709w,
					/assets/images/case_study_images/dong_wind/05_ipad_article_jpc2fk_c_scale,w_1920.jpg 1920w"
					src="../../../assets/images/case_study_images/dong_wind/05_ipad_article_jpc2fk_c_scale,w_1920.jpg"
					alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-image" src="../../../assets/images/case_study_images/dong_wind/14_ipad_article.jpg" alt=""> -->
			</figure>

			<!-- Half Laptop -->
			<figure class="w-100 m0 mb3 mb1-l cf relative">
				<figcaption class="w-100 w-50-m absolute-m t-0 b-0 l-0 reveal-from-left">
					<p class="bold line-height-3 ts-4 ts-5-m ts-8-l mx-auto font-family-5 absolute-m t-50 l-50 mv-ul-50-m" style="width: 60%;">
						Historical data and facts about energy made simple and accessible.
					</p>
				</figcaption>
				<picture>
					<img
					class="w-50 right reveal-from-right display-b-m"
					sizes="(max-width: 1000px) 100vw, 1000px"
					srcset="
					/assets/images/case_study_images/dong_wind/06_right-side-laptop_djinqg_c_scale,w_320.png 320w,
					/assets/images/case_study_images/dong_wind/06_right-side-laptop_djinqg_c_scale,w_738.png 738w,
					/assets/images/case_study_images/dong_wind/06_right-side-laptop_djinqg_c_scale,w_1000.png 1000w"
					src="../../../assets/images/case_study_images/dong_wind/06_right-side-laptop_djinqg_c_scale,w_1000.png"
					alt="">
				</picture>
				<!-- <img class="w-50 right reveal-from-right display-b-m" src="../../../assets/images/case_study_images/dong_wind/right-side-laptop.png" alt=""> -->
			</figure>

		</div>

		<footer class="cf mb3 mb1-l mx-auto max-width-5 max-width-1-l reveal">
			<h2 class="bold center line-height-3 ts-4 ts-5-m ts-8-l font-family-1 m0">Credits:</h2>
			<dl class="credits left bold ts-5 ts-9-m font-family-4 mt6">
				<dt class="w-40 left right-align m0 border-box py7 pr5">Client:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Dong Energy UK</dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Scope:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Lead Developer, Design Consultation</dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Credits:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7"><a href="http://www.firedog.co.uk/" target="_blank">Firedog Design</a>, <a href="https://twitter.com/samuelcane" target="_blank">Sam Cane</a>, <a href="http://mattmuirhead.co.uk/" target="_blank">Matt Muirhead</a></dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Date:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Winter 2014</dd>
			</dl>
		</footer>

	</article>

</main>