<main id="main" class="site-main mt3 mt8-m border-box w-100 cf" role="main" itemprop="mainContentOfPage">

	<article class="single_work mt4-l">

		<header class="intro mx-auto f-max-width-5 mx1-f mb5 mb2-m relative color-aqua-yellow">
			<picture>
				<img
				class="w-100 reveal-header-image display-b-m"
				sizes="(max-width: 1440px) 100vw, 1440px"
				srcset="
				/assets/images/case_study_images/aquaterra/01_page_banner_ujupfh_c_scale,w_320.jpg 320w,
				/assets/images/case_study_images/aquaterra/01_page_banner_ujupfh_c_scale,w_1034.jpg 1034w,
				/assets/images/case_study_images/aquaterra/01_page_banner_ujupfh_c_scale,w_1440.jpg 1440w"
				src="../../../assets/images/case_study_images/aquaterra/01_page_banner_ujupfh_c_scale,w_1440.jpg"
				alt="">
			</picture>
			<!-- <img class="w-100 reveal-header-image display-b-m" src="../../../assets/images/case_study_images/aquaterra/01_page_banner.jpg" alt=""> -->
			<div class="reveal-header-title absolute-m t-50">
				<h1 class="mv-u-50-m bold line-height-1 ts-1 ts-4-m ts-7-f font-family-5 absolute-m t-50 l-4 m0 p0">Aquaterra</h1>
			</div>
			<h2 class="regular line-height-3 ts-10 ts-6-m ts-9-l font-family-1 absolute-m r-4 b-2 my7 m0-m p0 reveal-header-title">Website re-design &amp; build</h2>
		</header>

		<div class="body cf">

			<!-- Summary -->
			<div class="summary cf mb3 mb1-l mx-auto max-width-5 max-width-1-m mt6">
				<p class="bold line-height-3 ts-5 ts-9-l font-family-5 w-100 w-60-l mb5 reveal-intro-copy">
					A mobile first responsive website design and build for a charitable sports and leisure business.
				</p>
				<p class="normal line-height-7 ts-5 ts-6-m ts-10-l font-family-4 w-100 w-60-l mb5 reveal-intro-copy">
					The previous site suffered from crucial user experience issues including navigation difficulty, broken user journeys and replicated yet orphaned content. The re-design of the site utilised a simple and responsive layout with a core colour palette to communicate functional journeys and page information. The site shrinks right down to a single column layout so that mobile users can easily navigate the site without compromising on legibility of content. A website built to adapt to all digital environments.
				</p>
			</div>

			<!-- Full Width Image - Racecourses -->
			<figure class="w-100 m0 mb3 mb1-l">
				<picture>
					<img
					class="w-100 reveal-fullscreen-image"
					sizes="(max-width: 1800px) 100vw, 1800px"
					srcset="
					/assets/images/case_study_images/aquaterra/07_Aquaterra_PageTypes_kijccn_c_scale,w_320.jpg 320w,
					/assets/images/case_study_images/aquaterra/07_Aquaterra_PageTypes_kijccn_c_scale,w_1128.jpg 1128w,
					/assets/images/case_study_images/aquaterra/07_Aquaterra_PageTypes_kijccn_c_scale,w_1647.jpg 1647w,
					/assets/images/case_study_images/aquaterra/07_Aquaterra_PageTypes_kijccn_c_scale,w_1800.jpg 1800w"
					src="../../../assets/images/case_study_images/aquaterra/07_Aquaterra_PageTypes_kijccn_c_scale,w_1800.jpg"
					alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-image" src="../../../assets/images/case_study_images/aquaterra/07_Aquaterra_PageTypes.jpg" alt=""> -->
			</figure>

			<!-- Monitor -->
			<figure class="m0 mb3 mb1-l w-100">
				<picture>
					<img
					class="w-100 reveal-fullscreen-monitor"
					sizes="(max-width: 1920px) 100vw, 1920px"
					srcset="
					/assets/images/case_study_images/aquaterra/aquaterra_monitor_lvts8p_c_scale,w_320.png 320w,
					/assets/images/case_study_images/aquaterra/aquaterra_monitor_lvts8p_c_scale,w_724.png 724w,
					/assets/images/case_study_images/aquaterra/aquaterra_monitor_lvts8p_c_scale,w_1007.png 1007w,
					/assets/images/case_study_images/aquaterra/aquaterra_monitor_lvts8p_c_scale,w_1253.png 1253w,
					/assets/images/case_study_images/aquaterra/aquaterra_monitor_lvts8p_c_scale,w_1465.png 1465w,
					/assets/images/case_study_images/aquaterra/aquaterra_monitor_lvts8p_c_scale,w_1653.png 1653w,
					/assets/images/case_study_images/aquaterra/aquaterra_monitor_lvts8p_c_scale,w_1837.png 1837w,
					/assets/images/case_study_images/aquaterra/aquaterra_monitor_lvts8p_c_scale,w_1920.png 1920w"
					src="../../../assets/images/case_study_images/aquaterra/aquaterra_monitor_lvts8p_c_scale,w_1920.png"
					alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-monitor" src="../../../assets/images/case_study_images/aquaterra/aquaterra_monitor.png" alt=""> -->
			</figure>

			<!-- Full Width Image - Docs -->
			<figure class="w-100 m0 mb3 mb1-l">
				<picture>
					<img
					class="w-100 reveal-fullscreen-image"
					sizes="(max-width: 1800px) 100vw, 1800px"
					srcset="
					/assets/images/case_study_images/aquaterra/11_Aquaterra_iPad2_xa23zf_c_scale,w_320.jpg 320w,
					/assets/images/case_study_images/aquaterra/11_Aquaterra_iPad2_xa23zf_c_scale,w_928.jpg 928w,
					/assets/images/case_study_images/aquaterra/11_Aquaterra_iPad2_xa23zf_c_scale,w_1354.jpg 1354w,
					/assets/images/case_study_images/aquaterra/11_Aquaterra_iPad2_xa23zf_c_scale,w_1699.jpg 1699w,
					/assets/images/case_study_images/aquaterra/11_Aquaterra_iPad2_xa23zf_c_scale,w_1800.jpg 1800w"
					src="../../../assets/images/case_study_images/aquaterra/11_Aquaterra_iPad2_xa23zf_c_scale,w_1800.jpg"
					alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-image" src="../../../assets/images/case_study_images/aquaterra/11_Aquaterra_iPad2.jpg" alt=""> -->
			</figure>

			<!-- Mobile GIF - Navigation -->
			<div class="cf relative w-100 mb3 mb1-l">
				<div class="w-50 left pr5 pr2-m border-box display-b-m">
					<div class="marvel-device iphone6 black fit right reveal">
					    <div class="top-bar"></div>
					    <div class="sleep"></div>
					    <div class="volume"></div>
					    <div class="camera"></div>
					    <div class="sensor"></div>
					    <div class="speaker"></div>
					    <div class="screen">
					        <img class="w-100" src="../../../assets/images/case_study_images/aquaterra/findacentre-optim.gif" alt="">
					    </div>
					    <div class="home"></div>
					    <div class="bottom-bar"></div>
					</div>
				</div>
				<div class="w-100 w-50-m cb absolute-m t-0 b-0 r-0 reveal-from-right">
					<p class="mx-auto bold line-height-3 ts-4 ts-5-m ts-8-l font-family-5 absolute-m t-50 l-50 mv-ul-7050-m" style=" width: 70%;">
						Leveraging technology to help make community participation easier.
					</p>
				</div>
			</div>

			<!-- Full Width Image - Racecard -->
			<figure class="w-100 m0 mb3 mb1-l">
				<picture>
					<img
					class="w-100 reveal-fullscreen-image"
					sizes="(max-width: 1800px) 100vw, 1800px"
					srcset="
					/assets/images/case_study_images/aquaterra/13_Aquaterra_iPhone2_jdsl6w_c_scale,w_320.jpg 320w,
					/assets/images/case_study_images/aquaterra/13_Aquaterra_iPhone2_jdsl6w_c_scale,w_1062.jpg 1062w,
					/assets/images/case_study_images/aquaterra/13_Aquaterra_iPhone2_jdsl6w_c_scale,w_1800.jpg 1800w"
					src="../../../assets/images/case_study_images/aquaterra/13_Aquaterra_iPhone2_jdsl6w_c_scale,w_1800.jpg"
					alt="">
				</picture>
				<!-- <img class="w-100 reveal-fullscreen-image" src="../../../assets/images/case_study_images/aquaterra/13_Aquaterra_iPhone2.jpg" alt=""> -->
			</figure>

		</div>

		<footer class="cf mb3 mb1-l mx-auto max-width-5 max-width-1-l reveal">
			<h2 class="bold center line-height-3 ts-4 ts-5-m ts-8-l font-family-1 m0">Credits:</h2>
			<dl class="credits left bold ts-5 ts-9-m font-family-4 mt6">
				<dt class="w-40 left right-align m0 border-box py7 pr5">Client:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Aquaterra</dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Scope:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Lead Developer, Design Consultation</dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Credits:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7"><a href="http://www.firedog.co.uk/" target="_blank">Firedog Design</a>, <a href="https://twitter.com/samuelcane" target="_blank">Sam Cane</a></dd>
				<dt class="w-40 left right-align m0 border-box py7 pr5">Date:</dt>
				<dd class="reveal-credit w-60 left m0 left-align border-box py7">Winter 2013</dd>
			</dl>
		</footer>

	</article>

</main>